extends ./layout.pug

block content
  .p-3
    h4 Categories
    ul
      each category in categories
        li.fs-5
          a(href=category.url)= category.name 
        p= category.description
      else 
        p No category found!