extends ./layout.pug

block content 
  div(style="padding: 16px; padding-bottom: 0px;")
    h2= category.name
    p= category.description
    a.btn.btn-primary(href=`${category.url}/update`, style="color: white; margin-right: 16px") Update category
    a.btn.btn-danger(href=`${category.url}/delete`, style="color: white;") Delete category
    h4(style="margin-top: 16px;") Games in the category
  hr
  include includes/game-list-filter.pug  
  hr
  include includes/game-card-list.pug