extends ./layout.pug

block styles 
  link(rel="stylesheet", href="/stylesheets/game-card.css")

block content
  .pt-3
    include includes/game-list-filter.pug  
    hr
    include includes/game-card-list.pug
