.action-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.action-buttons a,
.action-buttons a:hover {
  text-decoration: none;
  color: white;
}

.sidebar {
  width: 250px;
}

.nav-section {
  padding: 0px 16px;
}

.category-list {
  padding-top: 16px;
}

.view-groups {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
